<h1>Добро пожаловать в панель управления компании {{ company_name }}</h1>

<h2>Ваши сотрудники:</h2>
<ul>
    {% for approved_user in approved_users %}
        <li>{{ approved_user.resume.user.username }} - Резюме: {{ approved_user.resume.title }}</li>
    {% empty %}
        <li>Нет одобренных сотрудников.</li>
    {% endfor %}
</ul>

<h2>Резюме для одобрения:</h2>
<ul>
    {% for resume in resumes %}
        <li>
            <strong>{{ resume.title }}</strong> - Пользователь: {{ resume.user.username }}
            <a href="{% url 'approve_resume' resume.id %}">Одобрить</a>
        </li>
    {% empty %}
        <li>Нет доступных резюме для одобрения.</li>
    {% endfor %}
</ul>

<a href="{% url 'logout' %}">Выйти</a>
